@import "tailwindcss";

@keyframes float {
  0%, 100% {
    transform: translateY(0)
  }
  50% {
    transform: translateY(-8px)
  }
}

@keyframes invert-float {
  0%, 100% {
    transform: translateY(-8px)
  }
  50% {
    transform: translateY(0px)
  }
}

@theme {
  --color-light: #C6C6CF;
  --color-dark: #070F18;
  --color-active-dark: #132840;
  --color-interest: #2DD1D1;
  --color-active-interest: #91FFFF;
  --color-shadow: #0D0C0B;
  --color-error: #EEA329;
  --color-html: #D76A1E;
  --color-css: #1E53D7;
  --color-javascript: #EEE529;
  --color-typescript: #1460A9;
  --color-node: #129321;
  --color-sql: #116880;
  --animate-spin-slow: spin 150s linear infinite;
  --animate-float: float 8s ease-in-out infinite;
  --animate-invert-float: invert-float 8s ease-in-out infinite;
  --breakpoint-vsm: 20.5rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5em;
}
