@import "tailwindcss";

@theme {
  --color-light: #C6C6CF;
  --color-dark: #070F18;
  --color-active-dark: #132840;
  --color-interest: #2DD1D1;
  --color-active-interest: #91FFFF;
  --color-shadow: #0D0C0B;
  --animate-spin-slow: spin 150s linear infinite;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5em;
}
