@import "tailwindcss";

@theme {
  --color-light: #C6C6CF;
  --color-active-light: #4E4E52;
  --color-dark: #070F18;
  --color-active-dark: #255284;
  --color-interest: #2DD1D1;
  --color-shadow: #0D0C0B;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5em;
}